/* CSS Document */
/*=============================
			全体・共通
=============================*/
@import url("HTML5 Reset Stylesheet.css");

body{
	background-color: #000;
	margin: 0;
	overflow-x: hidden;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}
.wrap-all{
}
img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
h2{
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.5em;
}
h3{
	margin-bottom: 10px;
	margin-left: -30px;
	font-size: 1.2em
}


//ブレイクポイント
@mixin media($width-media: 960px){
	@media screen and (min-width: $width-media){
		@content;
	}
}

@mixin tabu ($width-media: 600px){
	@media screen and (min-width: $width-media){
		@content;
	}
}
//ブレイクポイントここまで

//メニューと写真に適用(スマホサイズ)
@mixin elementbox-small{
	background-position: center;
	background-size: cover;
	width: 165px;
	height: 165px;
}
//メニューと写真に適用(PCサイズ)
@mixin elementbox-big{
		width: 200px;
		height: 200px;
}

/*==============================
			ヘッダー
==============================*/
.header-wrap{
	width: 100%;
	height: 100vh;
	background: url(../img/top/top.jpg) no-repeat;
	background-size: cover;
	background-position: left;
	position: relative;
}
	
/*四角とタイトル
-----------------------------*/

//Ｂ案-----------------------------------------------
.header-top-img{
	background: url(../img/top/top-title.png) no-repeat;
	background-size: cover;
	width: 150px;
	height: 150px;
	border: #fff solid 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -75px;
	margin-top: -75px;
	display: none;
	@include media{
		width: 200px;
		height: 200px;
		margin-left: -100px;
		margin-top: -100px;
	};
}


//B案ここまで-----------------------------------------

/*ナビ
----------------------------*/
.nav{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: rgba(0,0,0,.8);
	ul{
		overflow: hidden;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	li{
		list-style: none;
		float: left;
		width: 25%;
		border-left: 2px #fff solid;
		box-sizing: border-box;
		&:first-child{
			border-left: 2px solid rgba(225,225,225,.8);
		}
		a{
			text-decoration: none;
			display: block;
			height: calc(60px - 20px);
			padding: 10px 0;
			color: #fff;
			font-size: 80%;
			text-align: center;
			line-height: 20px;
			&:hover{
				color: #000;
				background-color: rgba(255,255,255,0.80);
			}
		}
		.here{
			background-color: rgba(255,255,255,0.8);
			color: #000;
		}
	}
}

/*ナビゲーション内のTwitterロゴ消去*/
@media screen and (max-width: 959px){
	.nav{
		a{
			display: none;
		}
	}
}
/*---------ここまで--------------*/

@include media{
	.header-wrap{
		width: 100%;
		height: 100vh;
		background-position: center;
		position: relative;
	}
	.nav{
		position: absolute;
		bottom: 0;
		left: 0;
		ul{
			width: 960px;
			margin: 0 auto;
		}
		a{
			padding: 0;
		}
		/*twitterロゴ*/
		.fab{
			font-size: 3em;
			color: #55ACEE;
			position: absolute;
			right: 10px;
			top: 5px;
			&:hover{
				opacity: .7;
			}
		}
	}
	.fixed {
    position: fixed;
    top: 0;
    left: 0;
	z-index: 2;
	bottom: initial;
    width: 100%;
	background-color: rgba(0,0,0,0.8);
	}
	
	//ロゴマークＢ案
	.go-top{
		background: url(../img/top/top-title.png) no-repeat;
		background-size: cover;
		width: 41px;
		height: 41px;
		border: #fff solid 1px;
		border-radius: 5px;
		position: absolute;
		top: 8px;
		right: 65px;
		&:hover{
			opacity: .7;
		}
	}
}



/*==============================
			メイン
==============================*/
main{
	width: 100%;
	padding:{
		top: 60px;
	}
}
table{
	width: 100%;
	th{
		white-space: nowrap;
    	width: 100%;
		padding-bottom: 10px;
		&:nth-child(2){
			text-align: right;
		}
	}
}

/*メニュー
------------------------------*/
.menu{
	margin: 50px 0;
	.top-title{
		color: #fff;
		text-align: center;
		font-size: 2.5em;
		margin: {
			bottom: 50px;
		}
	}
}
.menu-wrap{
	color: #fff;
	width: 350px;
	margin: 0 auto;
	tr>th{
		text-align: left;
	}
	h2{
		margin-bottom: 20px;
	}
	@include media{
		width: 960px;
	}
}

/*アルコール
---------------------------------------*/
.sake{
	width: 260px;
	margin: 0 auto;
	@include media{
		width: initial;
		overflow: hidden;
	}
}

.beer,.nihonsyu,.wine,.shoutyu,.whiskey,.highball,.sawar{
	width: 260px;
	margin: 0 auto 50px auto ;
	@include media{
		width: 250px;
		float: left;
		height: 200px;
		margin:{
			left: 70px;
		}
	}
}

/*メニュー下囲み
------------------------------------------*/
.menu-bottom-wrap{
	width: 260px;
	margin: 0 auto;
	overflow: hidden;
	@include media{
		width: 100%;
	}
}


/*ソフトドリンク
------------------------------------------*/
.softdrink-wrap{
	margin-bottom: 50px;
	@include media{	
		width: calc(40% - 70px);
		height: 250px;
		float: left;
		margin-left: 70px;
	}
}

.softdrink{
	width: 100%;
}

/*サイドメニュー
-------------------------------*/
.sidemenu-wrap{
	margin-bottom: 50px;
	@include media{
		width: calc(40% - 50px);
		height: 250px;
		float: right;
		margin-left: 50px;
	}
	
	.sidemenu{
		width: 100%;
	}
}

/*缶詰
------------------------------------------*/
//缶詰全体
.kandume-wrap{
	width: 100%;
	@include media{
		clear: both;
		margin:{
			bottom: 50px;
		}
	}
}
//缶詰値段
.kandume{
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
	li{
		list-style: none;
	}
	@include media{
		width: 100%;
		margin: 0 auto;
		font-size: 1.5em;
	}
	
//mixin---------------------------------------------
	//缶詰listスマホサイズ
	@mixin kandumebox-s{
		position: relative;
		float: left;
		width: calc(30% - 20px);
		margin:{
			left: 20px;
			bottom: 10px;
		}
	}
	
	//缶詰listpcの指定
	@mixin kandumebox{
		position: relative;
		float: left;
		width: calc(14% - 25px);
		white-space: nowrap;
		margin:{
			left: 25px;
			bottom: 10px;
		}
		@content
	}
	
	
	//丸印の指定
	@mixin kandumebeforebox($val: 12px){
		content: "";
		width: $val;
		height: $val;
		border-radius: 50%;
		position: absolute;
		bottom: 2px;
		left: -20px;
		@content
	}
//mixinここまで-----------------------------------------
	
	.kandume1{
		@include kandumebox-s;
		&::before{
			@include kandumebeforebox{
				background: linear-gradient(to top left, #F7DE05, #ffffe0, #EDAC06, #ffffe0, #ECB802, #DAAF08, #B67B03);
			}
		}
		@include media{
			@include kandumebox;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
	.kandume2{
		@include kandumebox-s;
		&::before{
			@include kandumebeforebox{
				background-color: #FF0004;
			}
		}
		@include media{
			@include kandumebox;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
	.kandume3{
		@include kandumebox-s;
		&::before{
			@include kandumebeforebox{
				background-color: #438D50;
			}
		}
		@include media{
			@include kandumebox;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
	.kandume4{
		@include kandumebox-s;
		&::before{
			@include kandumebeforebox{
				background-color: #FBFF3C;
			}
		}
		@include media{
			@include kandumebox;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
	.kandume5{
		@include kandumebox-s;
		&::before{
			@include kandumebeforebox{
				background-color: #2D24FF;
			}
		}
		@include media{
			@include kandumebox;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
	.kandume6{
		@include kandumebox-s;
		width: 170px;
		&::before{
			@include kandumebeforebox{
				border: #fff dashed 1px;
			}
		}
		@include media{
			@include kandumebox;
			width: 250px;
			&::before{
				@include kandumebeforebox(20px);
			}
		}
	}
}//.kandume


/*地図
------------------------------*/
#map{
	position: relative;
	#empty{
		position: absolute;
		top: -60px;
		left: 0;
	}
}
iframe{
	width: 100vw;
	height: 400px;
	vertical-align: bottom;
}

/*お問合せ
------------------------------*/
.info{
	padding: 30px 0;
	line-height: 2;
	h2{
		color: #fff;
		text-align: center;
		margin: 0;
	}
	.info-Inquiry{
		margin-bottom: 30px;
	}
	p{
		color: #fff;
		text-align: center;
	}
}

.tel a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}

@include media{
	.info{
		padding: 65px 0;
		p{
			font-size: 1.5em;
		}
	}
	.tel a{
		font-size: 1.5em;
	}
}

/*=============================
			フッター
=============================*/
footer{
	width: 100%;
	background: url(../img/top/footer.png){
		size: contain;
		position: center;
		};
}
.footer-wrap{
	width: 100%;
	margin-bottom: 20px;
}
/*フッター左カラム*/
//Twitter
.tw{
	width: 260px;
	height: 600px;
	padding-bottom: 50px;
	margin: 0 auto;
}
/*フッター右カラム*/
.footer-right-text{
	width: 300px;
	margin: 0 auto;
	background-color: rgba(255,255,255,.9);
	border-radius: 0 0 5px 5px;
	padding-bottom: 20px;
	.footer-top-small{
		width: 100%;
		padding: 10px 0;
		text-align: right;
		a{
			text-decoration: none;
			color: #fff;
			padding: 0 10px;
		}
		span{
			color: #FF0004;
		}
		background:{
			color: #4d4d4d;
		}
	}
	.footer-text-first,.footer-text-second,.footer-text-last,.footer-text-asagaya{
		color: #000;
		margin: 20px 20px 20px 30px;
		position: relative;
		line-height: 2;
		& p::before{
			content: "";
			display: block;
			position: absolute;
			top: 3px;
			left: -23px;
			background:{
				image: url(../img/icon/beer.png);
				size: cover;
			}
			width: 20px;
			height: 20px;
		}
	}
};
	
/*著作マークの所*/
.footer-bottom-text{
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	margin-bottom: 100px;
}

@include media{
	//フッターのバックカラー
	.footer-mask{
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.90);
		//PCサイズの時のフッター上部バー
		.footer-top-big{
			width: 100%;
			height: 30px;
			background-color: #4d4d4d;
			text-align: right;
			line-height: 30px;
			a{
				color: #fff;
				text-decoration: none;
				padding: 0 20px
			}
			span{
				color: #FF0004;
			}
		}
	}
	.footer-wrap{
		width: 960px;
		margin: 0 auto;
		overflow: hidden;
		
		/*左カラム*/
		.tw{
			width: 30%;
			height: 400px;
			padding-bottom: 0;
			float: left;
			@include media{
				height: 600px;
			}
		}
		#twitter-widget-0{
			width: 100% !important;
			height: 100% !important;
		}
		/*右カラム*/
		.footer-right-text{
			float: left;
			background-color: initial;
			padding-bottom: initial;
			width: calc(70% - 50px);
			height: 400px;
			margin:{
				left: 50px;
			}
			position: relative;
			.footer-top-small{
				display: none;
			}
			.footer-text-first,.footer-text-second,.footer-text-last,.footer-text-asagaya{
				font-size: 1.3em;
				& p::before{
					top: 0px;
					@include media {
						top: 8px;
					}
				}
			}
			@include media{
				height: initial;
				padding-top: 0px;
			}
		}//.footer-right-text
	}
	.footer-bottom-text{
		width: 100%;
		background-color: #000;
		margin-bottom: initial;
	}
};

@media screen and (max-width: 959px){
	.footer-top-big{
		display: none;
	}
}